@inherits LayoutComponentBase
@using System

<div class="ui menu">
    <div class="ui container">
        <a class="header item" href="#">
            <img src="lemur.png" style="margin-right: 1em;" />
            Indri Estimation Poker
        </a>
        <NavLink class="item" href="new">Start New</NavLink>
    </div>
</div>

<div class="ui main text container">
    @Body
</div>

